
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;600&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url("../images/main__background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1440px;
	height: 100%;
	margin: 0 auto;
	/*align-items: center;*/
	/*justify-content: center;*/
	padding: 40px 40px 0 40px;
}

/*.content {*/
/*	width: 100%;*/

/*}*/

.list {
	font-family: 'Edu TAS Beginner', cursive, Sans-Serif;
	font-weight: 600;
	margin-bottom: 40px;
}



.list__genres {
	display: flex;
}

.list__chapter:not(:last-child) {
	margin-right: 10px;
}

.content__table {
	display: flex;
	align-items: center;
	justify-content: center;
}

table {
	font-family: 'Edu TAS Beginner', cursive, Sans-Serif;
	font-weight: 600;
	font-size: 14px;
	border-collapse: collapse;
	text-align: center;
}

caption {
	font-weight: 600;
	font-size: 20px;
	padding: 10px;
}

.size__container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}



.size__container-list {
	display: flex;
	flex-direction: row;
}

.content__select {
	background-color: transparent;
	width: 80px;
	margin-right: 20px;
}

option {
	background-color: transparent;
}

.films {
	display: flex;
	flex-direction: column;
}

.film__container {
	display: flex;
	/*flex-direction: column;*/
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.film__img {
	display: flex;
	max-width: 200px;
	width: 100%;
}

@media screen and (max-width: 640px) {
	.film__container {
		flex-direction: column;
	}

	.size__container {
		align-items: center;
	}

	.content__list {
    justify-content: center;
		align-items: center;
	}
	.list__genres {
		flex-direction: column;
    align-items: center;
 }
	span {
		padding: 10px;
	}

	.navigation {
		height: 180px;
	}
}
