@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;600&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url("../images/main__background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1440px;
	height: 100%;
	margin: 0 auto;
	padding: 40px 40px 0 40px;
}